.contenaire {
    background-color:#313a59;
margin: auto;
width:100vw;
height:100vh;
display:flex;
flex-direction: column;
align-items: center;
line-height: 25px;

justify-content: center;
}
.contenaire div{
    display: flex;
    flex-direction: column;
}
.btnsub{
padding:5px 30px;
margin: 5px 0;
color:white;
}
.btnreset{color:white;
    margin: 5px 0;
}

label{
    color:whitesmoke;
}
input{
    border-radius: 5px;
    border : solid 2px #313a59;
background-color:#222337;
color:hsl(0, 0%, 85%);

font-weight: bold;
}
textarea{color:hsl(0, 0%, 85%);
    border:solid 1px #313a59;
    border-radius: 5px;
background-color: #222337 ;
}